#hero {
  background-color: #fefefe10;
  padding-top: 60px;
  padding-bottom: 60px;
}

.profile {
  border-radius: 50%;
  box-shadow: 0 10px 25px #0d6efd50;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.profile:hover {
  transform: scale(1.03);
}

.homeTopic {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem !important;
  font-weight: bold;
  color: #212529;
}

.homeTopic span {
  display: inline-block;
  margin-top: 8px;
}

.homeAbout {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem !important;
  color: #555;
  line-height: 1.6;
  margin-top: 20px;
  text-align: justify !important;
}

.rotating-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: "Times New Roman", Times, serif ;
  font-size: 2rem !important;
  font-weight: 600;
  color: #222;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
}
.btn-dark {
  background-color: #1f1f1f;
  border: none;
}

.btn-dark:hover {
  background-color: #000;
  color: #f0f0f0 !important;
}

.btn-outline-secondary {
  border-color: #333;
  color: #333;
}

.btn-outline-secondary:hover {
  background-color: #333;
  color: #fff !important;
}

@media (max-width: 768px) {
  .homeTopic {
    font-size: 1.5rem;
    text-align: center;
  }

  .homeAbout {
    font-size: 1rem;
    text-align: center;
  }

  .btn {
    margin-bottom: 10px;
  }
}
